<div class="jumbotron">
    <h1>Not Logged In</h1>
    <p>You are required to be logged in for this action, but you are not. You should not see this message. It's a bug if this message appears. </p>
    <p><a class="btn btn-primary" href="/users/login">Log in</a></p>
</div>
