<!DOCTYPE html>
<html lang="en">

<head>
    <% include headerStuff %>
</head>
<% include pageHeader %>
  <div class="row col-xs-12">
      <% if (user) { %>
          <form method='POST' action='/notes/save'>
              <input type='hidden' name='docreate' value='<%= docreate ? "create" : "update"%>' />
              <label for="notekey">Key</label>
              <% if (docreate) { %>
                  <input type='text' name='notekey' value='' />
              <% } else { %>
                  <%= note ? notekey : '' %>
                  <input type='hidden' name='notekey' value='<%= note ? notekey : "" %>' />
              <% } %>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input placeholder="note title" type='text' name='title' value='<%= note ? note.title : "" %>' />
                </div>

                <div class="form-group">
                    <textarea name='body' cols="40" rows="5">
                      <%= note ? note.body : "" %>
                    </textarea>
                </div>

                <br />
                <input class='btn btn-default' type='submit' value='Submit' />
          </form>
        <% } else { %>
          <% include not-logged-in %>
        <% } %>

  </div>

    <body>

    </body>

</html>
