<!DOCTYPE html>
<html lang="en">
<head>
  <% include headerStuff %>
</head>
  <% include pageHeader %>
  <h3><%= note ? note.title : '' %></h3>
  <p><%= note ? note.body : '' %></p>
  <p>Key: <%= notekey %></p>
  <% if (notekey) { %>
    <div class="row">
      <div class="btn-group col-sm-12">
        <a class="btn btn-default" role="buton" href='/notes/destroy?key=<%= notekey %>'>Delete</a>
        <a class="btn btn-default" role="buton" href='/notes/edit?key=<%= notekey %>'>Edit</a>
      </div>
    </div>
  <% } %>

  <% include footer %>
<body>

</body>
</html>
