<!DOCTYPE html>
<html lang="en">
<head>
  <% include headerStuff %>
</head>
 <body>
   <% include pageHeader %>
   <% if (user) %>
    <form action="/notes/destroy/confirm" method="POST">
      <input type="hidden" name="notekey" value="<%= note ? notekey : "" %>">
      <p>Delete</p>
      <br />
      <input type='submit' value='DELETE' />
      <a href='/notes/view?key=<%= notekey %>'>Cancel</a>
    </form>
    <% } else { %>
      <% include not-logged-in %>
    <% } %>
    <% include footer %>
  </body>
</html>
