<header class="page-header clearfix">
  <h1><%= title %></h1>
  <% if (user && typeof hideAddNote === 'undefined') { %>
    <a href="/notes/add" class="btn btn-primary">ADD Note</a>
  <% } %>
  <% if (user) { %>
    <a href="/users/logout" class="btn btn-primary">Log Out</a>
  <% } else { %>
    <a href="/users/login" class="btn btn-primary">Log In</a>
  <% } %>
</header>
<% if (typeof breadcrumbs !== 'undefined' && breadcrumbs) { %>
  <ol class="breadcrumb">
    <%
      for (var crumb of breadcrumbs){
        if (crumb.active){
    %>

      <li class="active"><%= crumb.text %></li>

    <% } else { %>

      <li>
        <a href="<%= crumb.href %>"><%= crumb.text %></a>
      </li>

    <%
        }
      }
    %>
    <% %>
  </ol>
<% } %>
