body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-header h1 {
  margin-top: 5px;
  display: inline;
}

.page-header .breadcrumb {
  margin-bottom: 5px;
}

.page-header .btn-primary {
  float: right;
}
